/* src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-left {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  .animate-slide-left {
    animation: slide-left 0.3s ease-out;
  }