---
interface Props {
  title: string;
}

import '../styles/global.css';
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/appointment-app/favicon.svg" />
    <title>{title}</title>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
  </head>
  <body>
    <main class="min-h-screen bg-gray-50">
      <slot />
    </main>
  </body>
</html>